{% extends "base.html" %}
{% load pagination_tags %}
{% load magicembed %}

{% block title %}Videos{% endblock %}

{% block extrahead %}
<style type="text/css">
    .center{
        width: 712px;
    }
    .pagina-title{
        color: #4893a4;
    }
    .noticia-lista-fecha{
        color: #3b3d3f;
        margin-bottom: 5px;
        font-size: 14px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function($) {
        Cufon.replace('.pagina-title');
        var text = $('.pagina-title').html();
        $('.pagina-title').html(text.replace(/\b([A-Za-z0-9])/g,'<span class="caps">$1</span>'));
        $('.caps').css('font-size', 22);
    });
</script>
{% endblock %}

{% block contenido %}
<div class="center">
    <div class="pagina-title">Multimedia | Videos</div>
    <img src="/files/img/separador-noticias-lista.png" alt="Noticias Cieets">
    <br><br>
    {% autopaginate videos 12 %}
    {% for video in videos %}
    <div class="video-lista-box">
        <div class="video-lista-detail">
            <a href="{{video.get_absolute_url}}" class="video-lista-detalle-link">
                <img src="/files/img/playerbutton.png" alt="{{video.titulo}}" style="background: url({{video.url|magicthumbnail}}) center;">
            </a>
            <a href="{{video.get_absolute_url}}" class="video-lista-titulo">{{video.titulo}}</a>
        </div>
    </div>
    {% endfor %}
    <div class="clean"></div>
    <br>
    {% paginate %}
    <br>
</div>
{% endblock %}