{% extends "base.html" %}
{% load pagination_tags %}

{% block title %}Ecentos{% endblock %}

{% block extrahead %}
<style type="text/css">
    .center{
        width: 712px;
    }
    .pagina-title{
        color: #4893a4;
    }
</style>
<script type="text/javascript">
    $(document).ready(function($) {
        Cufon.replace('.pagina-title');
        var text = $('.pagina-title').html();
        $('.pagina-title').html(text.replace(/\b([A-Za-z0-9])/g,'<span class="caps">$1</span>'));
        $('.caps').css('font-size', 22);
    });
</script>
{% endblock %}

{% block contenido %}
<div class="center">
    <div class="pagina-title">Eventos</div>
    <img src="/files/img/separador-noticias-lista.png" alt="Noticias Cieets">
    <div id="enlace_eventos"><a href="/eventos_list" class="icono_lista">LISTA</a><a href="/eventos" class="icono_calendario">CALENDARIO</a></div><div class="clean"></div>
    <div class="noticias-categorias">
        {% for categoria in categorias %}
        <a href="/eventos_list/?cat={{categoria.pk}}" class="categoria {% if selecta == categoria.id %}categoria-selecta{% endif %}">{{categoria.nombre}}</a>
        {% endfor %}
        <div class="clean"></div>
    </div>
    {% autopaginate eventos 8 %}
    <div class="noticia-lista">
        {% for evento in eventos %}
        <div class="noticia-lista-detalle">
            
                <div class="evento-lista-fecha">{{evento.fecha_inicio|date:"d M"}}</div>
                <div class="noticia-lista-title"><a href="{{evento.get_absolute_url}}">{{evento.titulo}}</a></div>
                <div class="noticia-lista-categoria">Categoria: <a href="/eventos_list/?cat={{evento.categoria.id}}">{{evento.categoria.nombre}}</a></div>
                
            
            <a href="{{evento.get_absolute_url}}" class="noticia-lista-leer-mas" style="margin-top:0px !important;">Leer Mas</a>
            <div class="clean"></div>
        </div>
        {% endfor %}
    </div>
    <br>
    {% paginate %}
    <br>
</div>
{% endblock %}
