{% extends "base.html" %}
{% load tools %}
{% block title %}Noticias | {{noticia.titulo}}{% endblock %}

{% block extrahead %}
<style type="text/css">
    .center{
        width: 712px;
    }
    .pagina-title{
        color: #4893a4;
    }
    .noticia-lista-fecha{
        color: #3b3d3f;
        margin-bottom: 5px;
        font-size: 14px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function($) {
        Cufon.replace('.pagina-title');        
    });
</script>
{% endblock %}

{% block contenido %}
<div class="center">
    <div class="pagina-title">{{noticia.titulo|cufon|safe}}</div>
    <img src="/files/img/separador-noticias-lista.png" alt="Noticias Cieets">
    <br><br>
    <div class="noticia-bar">
        <img src="{{noticia.imagen.url_225x168}}" alt="{{noticia.titulo}}" class="noticia-detail-imagen"><br>
        {% if noticia.adjunto %}
        <div class="adjuntos">
            Documentos Adjuntos<br><br>
            {% for adjunto in noticia.adjunto.all %}
            <span class="adjunto-title">{{adjunto.nombre}}</span><br>
            <a href="{{adjunto.archivo.url}}" class="adjunto-descargar">Descargar</a><br><br>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="noticia-descripcion">
        <div class="noticia-lista-fecha">{{noticia.fecha|date:"d F Y"}}</div>
        {{noticia.contenido|safe}}
    </div>
    <div class="clean"></div>
</div>
{% endblock %}