{% extends "base.html" %}
{% load tools %}
{% load pagination_tags %}

{% block title %}Rincón Litúrgico{% endblock %}

{% block extrahead %}
<style type="text/css">
    .center{
        width: 712px;
    }
    .pagina-title{
        color: #4893a4;
    }
    .noticia-lista-leer-mas{
    	margin-top: 15px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function($) {
        Cufon.replace('.pagina-title');        
    });
</script>
{% endblock %}

{% block contenido %}
<div class="center">
	{% with titulo='Rincón Litúrgico' %}
    <div class="pagina-title">{{titulo|cufon|safe}}</div>
    {% endwith %}
    <img src="/files/img/separador-noticias-lista.png" alt="Noticias Cieets">
    <div class="noticias-categorias">
        {% for categoria in categorias %}
        <a href="/rincon-liturgico/?cat={{categoria.pk}}" class="categoria {% if selecta == categoria.id %}categoria-selecta{% endif %}">{{categoria.nombre}}</a>
        {% endfor %}
        <div class="clean"></div>
    </div>    
    {% autopaginate rincones 8 %}
    <div class="noticia-lista">
        {% for rincon in rincones %}
        <div class="noticia-lista-detalle">            
            <div class="noticia-lista-datos">
                <div class="noticia-lista-title"><a href="{{rincon.get_absolute_url}}">{{rincon.titulo}}</a></div>
                <div class="rincon-contenido-list">{{rincon.contenido|removetags:"b span p img &nbsp; strong h4 h1 h2 h3 h5 h6"|safe|truncatewords:30}}</div>
                <div class="noticia-lista-categoria">Autor: <a href="{{rincon.get_absolute_url}}">{{rincon.autor}}</a>
                 | Categoria: <a href="/rincon-liturgico/?cat={{rincon.categoria.id}}">{{rincon.categoria}}</a>
                 | <span class="noticia-lista-fecha">{{rincon.fecha|date:"d F Y"}}</span></div>
                <a href="{{rincon.get_absolute_url}}" class="noticia-lista-leer-mas">Leer Mas</a>                
            </div>            
            <div class="clean"></div>
        </div>
        {% endfor %}
    </div>
    <br>
    {% paginate %}
    <br>
</div>
{% endblock %}