{% extends "base.html" %}
{% load tools %}
{% block title %}{{rincon.titulo}}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/files/js/player/jwplayer.js"></script>
<style type="text/css">
    .center{
        width: 712px;
    }
    .pagina-title{
        color: #4893a4;
    }
    .noticia-lista-fecha{
        color: #3b3d3f;
        margin-bottom: 5px;
        font-size: 14px;
    }
    #radioplayer{        
        float: none;
        margin-top: 5px !important;
        margin-left: 5px;
        margin-bottom: 5px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function($) {
        Cufon.replace('.pagina-title');       
    });
</script>
{% endblock %}

{% block contenido %}
<div class="center">
    <div class="pagina-title">{{rincon.titulo|cufon|safe}}</div>
    <img src="/files/img/separador-noticias-lista.png" alt="Noticias Cieets">
    <br><br>
    <div class="noticia-bar">
        <br>        
        <div class="rinconplayer">
            <span>Autor: {{rincon.autor}}</span>
            <div id="radioplayer"></div>
        </div>
       {% if  rincon.adjunto.all %}
        <div class="adjuntos"><br>
            Documentos Adjuntos<br><br>
            {% for adjunto in rincon.adjunto.all %}
            <span class="adjunto-title">{{adjunto.nombre}}</span><br>
            <a href="{{adjunto.archivo.url}}" class="adjunto-descargar">Descargar</a><br><br>
            {% endfor %}
        </div>
        {% endif %}        
    </div>
    <div class="noticia-descripcion">
        <div class="noticia-lista-fecha">{{rincon.fecha|date:"d F Y"}}</div>
        {{rincon.contenido|safe}}
    </div>
    <div class="clean"></div>
</div>
{% if rincon.audio %}
<script type="text/javascript">
    jwplayer('radioplayer').setup({
        'flashplayer': '/files/js/player/player.swf',
        //'skin': "/files/js/player/whotube.zip",
        'id': 'playerID',
        'width': '235',
        'height': '24',
        'file': '{{rincon.audio.url}}',
        'controlbar': 'bottom'
    });
</script>
{% endif %}
{% endblock %}
