<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    {% load tree_menu_tags %}
    <head>
        <title>CIEETS | {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet"  href="/files/css/cieets.css">
        <link type="text/css" rel="stylesheet"  href="/files/css/nav.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/files/js/cufon-yui.js" type="text/javascript"></script>
        <script src="/files/js/libertine.font.js" type="text/javascript"></script>
        <script src="/files/js/cieets.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#tabs").tabs();
            });
        </script>
        {% block extrahead %}{% endblock %}        
    </head>
    <body>
        <div id="header">
            <div class="wrapper">
                <div class="logo"><a href="/"><img src="/files/img/logo-cieets.png" alt="Cieets Logo"></a></div>                
            </div>
        </div>
        <div id="navigation">
            <div class="wrapper">                   
                {% show_menu "Principal" "menu-principal" %}
            </div>
        </div>
        <div id="contenido">
            <div class="wrapper">
                {% block carrusel %}
                {% endblock %}
                <div class="supercontent">
                    <div id="cuerpo">
                        {% block contenido %}{% endblock %}
                    </div>
                    {% include "sidebar.html" %}
                    <div class="clean"></div>
                </div>
                <div class="clean"></div>
            </div>
        </div>
        <div id="footer">
            <div class="wrapper">
                <div class="logo-footer">
                    <a href="/"><img src="/files/img/logo-footer.png" alt="CIEETS Logo"></a>
                </div>
                <div class="info">
                    <b>Centro Intereclesial de Estudios Teológicos y Sociales (CIEETS)</b><br>
                    Teléfonos: (505) 22673033/34 Fax: (505) 22671010<br>
                    E-Mail: cieets@cieets.org.ni<br>
                    <a href="/contact/">Contactarnos</a>
                </div>
            </div>
        </div>
    </body>
</html>
