<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    {% load tree_menu_tags %}
    <head>
        <title>CIEETS | {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet"  href="/files/css/cieets.css">
        <link type="text/css" rel="stylesheet"  href="/files/css/nav.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="/files/js/cufon-yui.js" type="text/javascript"></script>
        <script src="/files/js/libertine.font.js" type="text/javascript"></script>        
        <script type="text/javascript">
            function mainmenu(){
                var elems = $('.nivel2');
                for(var i=0;i<elems.length;i++){
                    var ancho = 0;
                    var hijos = $(elems[i]).children();
                    for(var j=0; j<hijos.length;j++){
                        ancho += $(hijos[j]).width();
                    }
                    $(elems[i]).width(ancho);
                }
                $('.nivel2').each(function(){
                    var ancho = 0;
                    $(this).children().each(function(){
                        ancho += $(this).width();
                    });
                    $(this).css('width', ancho+'px');
                });
                $("#nav ul").css({display: "none"}); // Opera Fix
                $("#nav li").hover(function(){                    
                    $(this).find('ul:first').css({visibility: "visible",display: "none"}).show(600);
                },function(){
                    $(this).find('ul:first').css({visibility: "hidden"});
                });
            }
            $(document).ready(function(){
                mainmenu();                
            });
        </script>
        {% block extrahead %}{% endblock %}        
    </head>
    <body>
        
        <div id="header">
            <div class="wrapper">
                <div class="logo"><a href="/"><img src="/files/img/logo-cieets.png" alt="Cieets Logo"></a></div>                
            </div>
        </div>
        <div id="navigation">
            <div class="wrapper">                   
                {% show_menu "Principal" "menu-principal" %}
            </div>
        </div>
        <div id="contenido">
            <div class="wrapper">
                {% block contenido %}{% endblock %}
            </div>
        </div>
        <div id="footer"></div>        
    </body>
</html>
