{% load tree_menu_tags %}
<div id="sidebar">
	<div class="search">
		<form action="/busqueda/" id="cse-search-box" method='GET'>
			<div>				
				<input type="text" name="q" size="31" />
			</div>
		</form>
		<script type="text/javascript" src="//www.google.com/cse/brand?form=cse-search-box&lang=es"></script>
	</div>
	<div class="social">
        <div><a href="/rss/"><img src="/files/img/rss.png" alt="Rss"></a><br>RSS</div>
        <div><a href="http://twitter.com"><img src="/files/img/twitter.png" alt="Twitter"></a><br>Twitter</div>
        <div><a href="http://facebook.com"><img src="/files/img/facebook.png" alt="Facebook"></a><br>Facebook</div>
        <div class="clean"></div>
    </div>
    <div class="sidebar-module">
        <div class="sidebar-module-title">Publicaciones</div>
        <div id="tabs" style="font-size:70%;">
            <ul>
                <li><a href="#fragment-1"><span>Revista</span></a></li>
                <li><a href="#fragment-2"><span>Bolet&iacute;n</span></a></li>
                <li><a href="#fragment-3"><span>M&oacute;dulo</span></a></li>
            </ul>
            <div id="fragment-1">
                <div class="portada">
                    <img src="{{revista.portada.url_67x90}}" alt="{{revista.titulo}}">
                </div>
                <div class="datos">{{revista.titulo}} <br><a href="/publicaciones/{{revista.id}}">Ver más &raquo;</a></div>
                <div class="clean"></div>
                <br>
                <a href="/publicaciones/?cat=1"><b>Ver todas las revistas &raquo;</b></a>
            </div>
            <div id="fragment-2">
                <div class="portada">
                    <img src="{{boletin.portada.url_67x90}}" alt="{{boletin.titulo}}">
                </div>
                <div class="datos">{{boletin.titulo}} <br><a href="/publicaciones/{{boletin.id}}">Ver más &raquo;</a></div>
                <div class="clean"></div>
                <br>
                <a href="/publicaciones/?cat=2"><b>Ver todos los boletines &raquo;</b></a>
            </div>
            <div id="fragment-3">
                <div class="portada">
                    <img src="{{modulo.portada.url_67x90}}" alt="{{modulo.titulo}}">
                </div>
                <div class="datos">{{modulo.titulo}} <br><a href="/publicaciones/{{modulo.id}}">Ver más &raquo;</a></div>
                <div class="clean"></div>
                <br>
                <a href="/publicaciones/?cat=3"><b>Ver todos los m&oacute;dulos &raquo;</b></a>
            </div>
        </div>
    </div>
    <div class="sidebar-module">
        <div class="sidebar-module-title">Rinc&oacute;n Lit&uacute;rgico</div>
        <div class="sidebar-module-content">
            <p class="fecha">{{rincon.fecha|date:"d F Y"}}</p>
            <b>{{rincon.titulo}}</b><br>
            {{rincon.contenido|truncatewords:"18"|safe}}<br>
            <a href="{{rincon.get_absolute_url}}" class="leer-mas">Leer m&aacute;s &raquo;</a>
            <div class="clean"></div>
        </div>
    </div>
    <div class="sidebar-module">
        <div class="sidebar-module-title">Enlaces Amigos</div>
        <div class="sidebar-module-content">
            {% show_menu "Enlaces" "amigos" %}
            <div class="clean"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	if('{{q}}' != ''){
		$('input[name="q"]').val('{{q}}');
	}
    if($('#cse-search-box input[name="q"]').val()==''){
        $('#cse-search-box input[name="q"]').val('Buscar');
    }
    $('#cse-search-box input[name="q"]').click(function(){
        if($(this).val()=='Buscar'){$(this).val('')}
    });
    $('#cse-search-box input[name="q"]').focus(function(){
        if($(this).val()=='Buscar'){$(this).val('')}
    });
    $('#cse-search-box input[name="q"]').blur(function(){
        if($(this).val()==''){$(this).val('Buscar')}
    });
});
</script>
