{% load tree_menu_tags %}
<div id="sidebar">
    <div class="social">
        <div><a href="/rss/"><img src="/files/img/rss.png" alt="Rss"></a><br>RSS</div>
        <div><a href="http://twitter.com"><img src="/files/img/twitter.png" alt="Twitter"></a><br>Twitter</div>
        <div><a href="http://facebook.com"><img src="/files/img/facebook.png" alt="Facebook"></a><br>Facebook</div>
        <div class="clean"></div>
    </div>
    <div class="sidebar-module">
        <div class="sidebar-module-title">Publicaciones</div>
        <div id="tabs" style="font-size:70%;">
            <ul>
                <li><a href="#fragment-1"><span>Revista</span></a></li>
                <li><a href="#fragment-2"><span>Bolet&iacute;n</span></a></li>
                <li><a href="#fragment-3"><span>M&oacute;dulo</span></a></li>
            </ul>
            <div id="fragment-1">
                <div class="portada">
                    <img src="/files/img/portada.png" alt="portada">
                </div>
                <div class="datos">Este seria el titulo de una publicaci&oacute;n ejemplo <br><a href="/">Descargar</a></div>
                <div class="clean"></div>
                <br>
                <a href="#">Ver todas las revistas</a>
            </div>
            <div id="fragment-2">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </div>
            <div id="fragment-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Tab3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </div>
        </div>
    </div>
    <div class="sidebar-module">
        <div class="sidebar-module-title">Rinc&oacute;n Lit&uacute;rgico</div>
        <div class="sidebar-module-content">
            <p class="fecha">2 marzo 2011</p>
            <b>Este seria el titulo de un rinc&oacute;n lit&uacute;rgico</b><br>
            Risus quis risus et elementum mus massa montes. Eu enim enim vel nunc amet. Ac scelerisque mid. Montes, ...<br>
            <a href="#" class="leer-mas">Leer m&aacute;s &raquo;</a>
            <div class="clean"></div>
        </div>
    </div>
    <div class="sidebar-module">
        <div class="sidebar-module-title">Enlaces Amigos</div>
        <div class="sidebar-module-content">
            {% show_menu "Enlaces" "amigos" %}
            <div class="clean"></div>
        </div>
    </div>
</div>
