body{
    margin: 0;
    padding: 0;
    background: #f1eee4;
}
.wrapper{
    width: 960px;
    margin: 0 auto;        
}
.clean{
    clear: both;
}
img{
    outline: none;
    border: none;
}
#header{
    background: #232f43 url(/files/img/sombra.png) repeat-y center;
    height: 140px;
    width: 100%;
}
#header .wrapper{
    background: url(/files/img/test.png) no-repeat;
    height: 140px;
}
.logo{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}
#navigation{
    border-top: 1px #fff solid;
    height: 40px;
    background: url(/files/img/nav_back.png) repeat-x;
}
.carrusel{
    height: 115px;
    width: 100%;
    margin-top: 10px;
    background: #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 0px 1px 1px #959595;
    -webkit-box-shadow: 0px 1px 3px #959595;
    box-shadow: 0px 1px 8px #959595;
}
.carrusel #carrusel-container{    
    float: left;
    margin-top: 12px !important;
    width: 860px;
}
#carrusel-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.carrusel-button-prev, .carrusel-button-next{
    float: left;        
    width: 24px;
    height: 24px;
    background: url(/files/img/carrusel-sprite.png) no-repeat;
    margin-top: 45px;
    cursor: pointer;    
}
.carrusel-button-next{
    background-position: -24px 0;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}
.carrusel-button-next:hover{
    background-position: -24px -24px;
}
.carrusel-button-prev{
    margin-left: 10px;
    margin-right: 10px;    
}
.carrusel-button-prev:hover{
    background-position: 0px -24px;
}
.carrusel .carrusel-item{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.jcarousel-item {
    width: 122px;
}